.breadcrumbs__container {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 20;
    background-color: #fff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.breadcrumbs {
    font-size: 1.6rem;
    color: #333;

}

.breadcrumbs>* {
    display: inline-block;
    margin-right: 8px;
}

.crumb {
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
}

.crumb-link {
    cursor: pointer;
}

.breadcrumbs .crumb:after {
    content: "//";
    margin-left: 10px;
}

/* .breadcrumbs .crumb:last-child {
    display: none;
} */


.breadcrumbs .crumb:last-child:after {
    display: none;
}

.breadcrumbs .crumb a {
    color: #333;
    text-decoration: none;
}

.breadcrumbs .crumb a:hover {
    color: var(--primary-color);
}

.crumb__home {
    font-weight: 600;
    display: inline-block;
    color: #000;
    font-size: 1.7rem;
    text-decoration: none;
    cursor: pointer;
}

.crumb__home-icon {
    color: var(--button-color);
    margin-right: 6px;
    font-size: 2rem;
    line-height: 30px
}