.container{
    width: 100%;
    height: 100%;
    background-color: #fcd8aa;
}
.accessories__event-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.accessories__event-list img{
    width: 50%;

}
.accessories__event-image-gif {
    margin: 10px auto;
    display: block;
    width: 1000px;
    padding: 10px;
}
.accessories__ladi-image{
    position: relative;
    width: 80%;
    height: 100%;
}
.accessories__ladi2-image{
    position: relative;
    width: 100%;
    height: 100%;
}

.accessories__ladi-image-background img{
    position: fixed;
    width: 200px;
    left: 79px;

}
.accessories__ladi2-image-background img {
    position: fixed;
    width: 200px;
    right: 79px;

}



.accessories__group-cate {
    max-width: 1200px;
    margin: 2%;
    display: flex;
}
.accessories__group-cate .accessories__group-popup:first-child {
    margin-left: 0;
}
.accessories__group-cate .accessories__group {
    background: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/accessory/tgdd/desk-phone_2.png?v=3);
    width: 232px;
    height: 125px;
    float: left;
    position: relative;
    background-size: cover !important;
    cursor: pointer;
}
.accessories__group-cate .accessories__group.group-laptop {
    background: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/accessory/tgdd/desk-lap_2.png?v=3);
}
.accessories__group-cate .accessories__group.group-sound {
    background: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/accessory/tgdd/desk-amthanh_2.png?v=3);
}
.accessories__group-cate .accessories__group.group-tech {
    background: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/accessory/tgdd/desk-congnghe_2.png?v=3);
}
.accessories__group-cate .accessories__group.group-maycu {
    background: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/accessory/tgdd/desk-maycu.png);
}

.accessories__group-cate .accessories__group.group-iphone div.accessories__group-name {
    top: 50%;
    right: 9%;
    transform: translateX(-9%) translateY(-50%);
}
.accessories__group-cate .accessories__group div.accessories__group-name {
    text-align: center;
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translateX(-13%) translateY(-50%);
}
.accessories__group-name p{
    color: #333;
    font-weight: 700;
    font-size: 15px;
}
.accessories__group-cate .accessories__group.active div.accessories__group-name p, .accessories__group-cate .accessories__group:hover div.accessories__group-name p {
    color: #f60606;
    
}
.accessories__group:hover{
    transform: scale(1.05);
}






.section{
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.accessories__list-category{
    position: relative;
    font: 14px/18px Arial,Helvetica,sans-serif;
    height: auto;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    display: flex;
    overflow: hidden;
}
.accessories__title-category{
    box-sizing: border-box;
    padding: 0;
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
    display: flex;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    padding-top: 20px;
}
.accessories__group-category {
    vertical-align: text-top;
    color: #333;
    text-transform: unset;
    text-align: center;
    width: auto;
    display: inline-block;
    margin-right: 20px;
    overflow: hidden;
}

.accessories__group-category:hover{
    transform: scale(1.1);
}
.accessories__group-category:nth-child(1) img {
    background: linear-gradient(90deg,#6ac1ff 0%,#8bfffe 100%);
}
.accessories__group-category:nth-child(2) img {
    background: linear-gradient(90deg,#ff8ca1 0%,#ffd0d0 100%);
}
.accessories__group-category:nth-child(3) img {
    background: linear-gradient(90deg,#f8d383 0%,#ffbf83 100%);
}
.accessories__group-category:nth-child(4) img {
    background: linear-gradient(90deg,#ede574 0%,#e1f5c4 100%);
}
.accessories__group-category:nth-child(5) img {
    background: linear-gradient(135deg,#f5ee27 14.65%,#f4b43f 85.36%);
}
.accessories__group-category:nth-child(6) img {
    background: linear-gradient(135deg,#f5ee27 14.65%,#8bc34a 85.36%);
}
.accessories__group-category:nth-child(7) img {
    background: linear-gradient(135deg,#ffd740 14.65%,#e040bd 85.36%);
}
.accessories__group-category:nth-child(8) img {
    background: linear-gradient(90deg,#9ce8fb 0%,#b4ffe4 100%);
}
.accessories__group-category:nth-child(9) img {
    background: linear-gradient(143.24deg,#ffd772 14.65%,#f3a618 71.95%);
}
.accessories__group-category:nth-child(10) img {
    background: linear-gradient(135deg,#377ef4 14.65%,#cd48e3 85.36%);
}
.accessories__group-category h3 {
    display: block;
    width: 100px;
    margin-top: 5px;
    color: #333;
}
.accessories__group-category a{
    text-decoration: none;
    
}
.accessories__group-category a img {
    height: 64px;
    width: 64px;
    display: block;
    position: relative;
    color: #333;
    text-decoration: none;
}
.accessories__group-category img {
    position: relative;
    border-radius: 50%;
    padding: 0px;
    width: 70px;
    height: 70px;
    margin: auto;
    display: block;
    max-width: 100%;
}



.title-brand{
    box-sizing: border-box;
    padding: 0;
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
    display: flex;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    padding-top: 20px;
}

.accessories__home-sort-list-brand{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #b90d0d; */
  
}
.accessories__home-sort-brand{
    width: 100%;
    border-radius: 10px;
   
    /* background-color: #1e6ce1; */
    

}
.accessories__home-sort-brand-item{
    
    background-color:white;
    display: flex;
    align-items: center;
    border: 1px solid #928f88;
    border-radius: 10px;
    
    height: 30px;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 8px 10px;
    float: left;
}
.accessories__home-sort-brand-item img{
    width: 100%;
    height: 20px;
    text-align: center;
    position: static;
}
.accessories__home-sort-brand-item:hover{
   transform: scale(1.1);
}

.accessories__product-container{
    background-color: white;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0.accessories__1fr));
}
.accessories__list-product .accessories__price-old {
    color: #666;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
}

* {
    margin: 0;
    padding: 0;
}

.accessories__list-product {
    list-style: none;
    /* border: 1px solid #fcd8aa; */


}

.accessories__product {
    border-right: 10px solid rgb(196,234,232);
    
}


.accessories__item-label {
    list-style: none;
    color: #288ad6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 60px;
    position: absolute;
}

.accessories__tablet-item {
    position: relative;
    border-radius: 30px;
    /* list-style: none;
    color: #288ad6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 225px;
    line-height: 225px;
    position: relative;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    margin-top: 10px; */
}

.temBH {
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    position: absolute;

}


.thumb {
    list-style: none;
    color: #288ad6;
    line-height: 225px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 8px;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
}

.hotIcon {
    width: 80px;
    height: 80px;
    bottom: 180px;
    left: 150px;
    box-sizing: border-box;
    position: absolute;
}


.accessories__listproduct .accessories__item-compare {
    font-size: 0;
    margin-bottom: 5px;
}

.accessories__listproduct .item-compare.gray-bg span {
    border: 1px solid #eaeaea;
    background: #eaeaea;
}

.accessories__listproduct .accessories__item-compare span {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
    padding: 4px 5px;
    white-space: nowrap;
}

.accessories__prods-group {
    list-style: none;
    color: #288ad6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.accessories__merge-item {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 8px !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 2px;
    display: inline-flex !important;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-right: 4px;
    overflow: hidden;
    background: #fff;
    border-color: #7d8691 !important;
    color: #585a5d !important;
}

.accessories__merge-item:hover {
    border: 1px solid #1d1de1 !important;
    color: #133bda !important;
    transform: scale(1.1);
}

.accessories__merge-item-selected {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 8px !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 2px;
    display: inline-flex !important;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-right: 4px;
    overflow: hidden;
    border-color: #9d9fa3 !important;
}



.accessories__box-p {
    font: 14px/18px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    list-style: none;
    color: #288ad6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.accessories__price-old .accessories__black {

    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-rendering: geometricPrecision;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: #b90d0d;
}

.accessories__percent {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
}

.accessories__price {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f20505;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
}

.accessories__item-rating {

    
    display: flex;
    align-items: flex-end;
}

.accessories__-item-star-icon {
    display: inline-block;
    color: orange;
    font-size: 1.8rem;
    font-weight: 400;
}


.accessories__item-rating-total {
    text-rendering: geometricPrecision;
    color: #0f2ced;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
}