/* --------Stylesheet for the Login component ------*/
.login-client__box {
    display: flex;
    justify-content: space-between;
    width: 85%;
    background-color: #fff;
    margin: 0 auto 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}




.login-client__col-1 {
    animation: topToDown linear .25s;
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
}

.login-client__panel {}

.login-client__panel-img {
    width: 400px;
    height: 420px;
    background-color: transparent;
    background-image: url(../img/client/login-img/img-login-1.png);
    background-position: center center;
    background-size: 95%;
    background-repeat: no-repeat;
    margin: 30px auto 20px;
}

.login-client__panel-title {
    display: block;
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
    margin: 30px auto 20px;
    padding: 20px;
    text-align: center;
}

.login-client__panel-desb {
    display: block;
    text-align: center;
    width: 70%;
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
    font-style: italic;
    margin: 10px auto;
}

.login-client__panel-controll {
    display: block;
    width: 50%;
    margin: 40px auto 10px;
    text-align: center;
}

.login-client__panel-btn {
    width: 8px;
    height: 8px;
    margin: 4px;
    border: 1px solid #eee;
    border-radius: 50%;
}

.login-client__col-2 {
    animation: downToTop linear .25s;
    width: 50%;
    height: 100%;
    background-color: #fff;
    align-self: center;
}

.login-client__logo {
    background-image: url(../img/client/login-home.png);
    width: 100%;
    height: 160px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    margin: 10px 0 30px 0;
}


.login-client__label-login {
    display: block;
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 20px 0 20px 0;
    color: var(--button-color);
    height: 60px;
}

.login-client__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}


.login-client__label {
    display: block;
    font-size: 2rem;
    text-align: left;
    width: 100%;
    font-weight: 600;
    padding: 10px;

}

.login-client__input {
    width: 100%;
    padding: 16px 20px;
    border-radius: 12px;
    outline: none;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.login-client__input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
    padding: 16px 20px;

}

.login-client__forgot {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    text-align: right;
    font-size: 1.6rem;
    font-style: italic;
    color: blue;
}

.login-client__btn {
    padding: 16px 20px;
    background-color: var(--button-color);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
}

.login-client__btn:hover {
    opacity: 0.9;
    transform: scale(105%);
}

.login-client__label-or {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.login-client__direct {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.login-client__direct-btn {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 0 8px;
}

.login-client__direct-btn:hover {
    background-color: #f9f7f7;
    cursor: pointer;
}

.login-client__direct-img {
    margin: 0 8px;
}

.login-client__direct-label {
    font-size: 1.6rem;
    margin-left: 4px;
}

.login-client__question {
    display: inline-block;
    margin: 30px 0 10px;
    padding: 4px;
    font-size: 1.4rem;
    color: rgb(0, 0, 0, 0.8)
}

.login-client__register {
    display: inline-block;
    padding: 4px 4px 4px 0;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: italic;
    color: var(--primary-color);
}

.login-client__register:hover {
    color: var(--button-color);
    cursor: pointer;
}

/* --------Stylesheet for the Accoutn Info Client component ------*/
.account-info__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.account__sidebar {
    width: 250px;
    background-color: #f6fbfc;
    border-radius: 20px;
    margin-bottom: 30px;
}

.account__sidebar-list {
    padding: 10px;
    list-style: none;
}

.account__sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 10px;
    margin-bottom: 16px;
}

.account__sidebar-item--active {
    border-radius: 10px;
    border: 0.5px solid var(--primary-color);
    background-color: #fee;
}

.account__sidebar-item-icon {
    font-size: 2rem;
    line-height: 2rem;
    color: #686868;
}

.account__sidebar-label {
    font-size: 1.8rem;
    margin: 0 0 0 10px;
    color: #686868;
    font-weight: 500;
}

.account__box {
    flex-grow: 1;
    margin-left: 20px;
    display: block;
}

.account__box-info {
    padding: 10px 10px 30px;
    display: block;
    text-align: center;
    width: 100%;
    border: 0.5px solid #e7e7e7;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 30px;
}

.account__box-info-avatar {
    border: 0.5px solid #9b9b9b;
    border-radius: 50%;
    margin: 0 auto 10px;
    height: 90px;
    width: 90px;
}

.account__box-info-label {
    font-size: 2rem;
    font-weight: 400;
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px 0 10px;
    padding: 6px;
}

.account__box-info-fullname {
    display: block;
    font-size: 2.2rem;
    color: var(--primary-color);
    font-weight: 600;
}

.account__box-info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.account__box-info-item {
    flex: 1;
}

.account__box-info-item-label {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    padding: 10px;
    margin: 20px 0 10px;
}

.account__box-info-item-icon {
    display: block;
    font-size: 4rem;
    text-align: center;
    padding: 4px;
    margin-bottom: 10px;
    color: var(--button-color);
}

.account__box-info-item-data {
    font-size: 2.4rem;
    display: block;
    font-weight: bold;
    padding: 10px;
}

.account__box-option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.account__box-option-item {
    width: calc(33.3333% - 10px);
    padding: 20px;
    border-radius: 20px;

}

.account__box-option-item--color-pink {
    background-color: #fef5f0;
}

.account__box-option-item--color-yellow {
    background-color: #fff7ca;
}

.account__box-option-item--color-green {
    background-color: #c5f3c3;
}

.account__box-option-item-img {
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.account__box-option-item-img--cart {
    background-image: url(../img/client/account-img/img-cart.png);
}

.account__box-option-item-img--order {
    background-image: url(../img/client/account-img/img-order.png);
}

.account__box-option-item-img--history {
    background-image: url(../img/client/account-img/img-history.png);
}

.account__box-option-item-title {
    font-size: 3rem;
    display: block;
    text-align: center;
    color: var(--button-color);
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}

.account__box-option-item-btn {
    display: block;
    width: 100%;
    margin: 40px auto 20px;
    color: #fd2424;
    font-size: 1.8rem;
    padding: 10px 40px;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
}

.account__box-option-item-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.account__box-info-header {
    display: block;
    width: 70%;
    padding: 20px 40px 20px;
    text-align: center;
    margin: 30px auto 20px;
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 600;
    border-bottom: 2px solid #eee;
}

.account__box-info-title {
    display: block;
    width: 60%;
    margin: 10px auto;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    padding: 10px 4px 0 10px;
}

.account__box-info-input {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 12px 20px;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.account__box-info-input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);

}


.account__box-info-btn {
    display: block;
    padding: 14px 20px;
    margin: 20px auto;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--button-color);
    border: none;
    color: #fff;
    border-radius: 12px;
}

.account__box-info-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.account__box-info-counting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px;
    grid-gap: 80px;
    gap: 80px;
}

.account__box-info-counting-item {
    font-size: 1.6rem;
}

.account__box-info-counting-icon {
    width: 60px;
    height: 60px;
    margin: auto;
}

.account__box-info-counting-icon--purchased {
    background-image: url(../img/client/account-img/img-purchased.png)
}

.account__box-info-counting-icon--shopping {
    background-image: url(../img/client/account-img/img-shopping.png)
}

.account__box-info-counting-title {
    display: block;
    margin-top: 8px;
    font-size: 2rem;
    font-weight: bold;
}

.account__box-info-counting-number {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--button-color);
    ;
    margin-top: 14px;
}

.account__box-info-fillter-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
}

.account__box-info-fillter {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 10px;
}

.account__box-info-fillter-btn {
    padding: 10px 20px 4px;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.account__box-info-fillter-btn--active {
    border-bottom: 2px solid var(--primary-color);
    font-weight: bold;
    color: var(--button-color);
}

.account-history__btn-detail {
    display: block;
    padding: 4px 10px;
    background-color: #fff;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.order-detail__title {
    display: block;
    padding: 10px;
    text-align: left;
    font-size: 2.4rem;
    font-weight: bold;
    color: #333;
    margin: 4px 0 10px;
}

.order-detail {
    display: block;
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 12px;
}

.order-detail__group {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    padding: 8px 0;
}

.order-detail__label {
    padding: 0 10px;
    font-weight: 500;
    font-size: 2rem;
}

.order-detail__label-icon {
    margin-right: 8px;
    font-weight: bold;
    font-size: 2.2rem
}

.order-detail__list {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
}

.order-detail__item {
    display: flex;
    flex-wrap: nowrap;
    margin: 4px 0 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.order-detail__item-img {
    height: 110px;
    width: 110px;
    max-width: unset;
    object-fit: contain;
    padding: 6px;
    border: 1px solid #eee;
    border-radius: 6px;
}

.order-detail__item-info {
    flex: 1 1;
    padding: 0 10px;
    font-size: 1.6rem;
    text-align: left;
    position: relative;
}

.order-detail__item-name {
    width: 100%;
    display: block;
    padding: 6px 0;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--button-color);
    margin-bottom: 10px;
}

.order-detail__item-content {
    width: 100%;
    display: block;
    color: #a8a8a8;
    padding: 4px 0;
}

.order-detail__item-quantity {
    display: block;
    position: absolute;
    bottom: 0;
    font-weight: 500;
    padding: 4px 0;
}

.order-detail__item-price {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 0;
    padding: 4px 0;
    color: var(--button-color);
    font-weight: bold;
    font-size: 1.8rem;
}

.order_detail__item-btn-box {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;
}

.order-detail__item-btn {
    display: block;
    margin: auto 0;
    padding: 6px 16px;
    font-size: 1.8rem;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #ffdf00;
    color: #ef9b0f;
}

.order-detail__item-btn--disabled {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: #909090;
}

.order-detail__content {}

.order-detail__btn {
    display: block;
    margin: 20px auto 30px;
    padding: 12px 20px;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--button-color);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #ccc;
    color: #fff;
}

/* Vote Product */
.vote-product__cover {
    position: fixed;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.vote-product {
    animation: addFadein ease-in 0.1s;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    width: 36%;
    border: 1px solid #ccc;
}

.vote-product__header {
    background-color: var(--primary-color);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
}

.vote-product__body {
    width: 100%;
}

.vote-product__item {
    display: flex;
    flex-wrap: nowrap;
    margin: 4px 0 12px;
    padding: 0 20px 8px;
    border-bottom: 2px solid #eee;
}

.vote-product__item-img {
    height: 120px;
    width: 120px;
    max-width: unset;
    object-fit: contain;
    padding: 6px;
    border: 1px solid #eee;
    border-radius: 6px;
}

.vote-product__item-info {
    flex: 1;
    padding: 0 10px;
    font-size: 1.6rem;
    text-align: left;
    position: relative;
}

.vote-product__item-name {
    width: 100%;
    display: block;
    padding: 6px 0;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--button-color);
    margin-bottom: 10px;
    line-height: 2.2rem;
}

.vote-product__item-content {
    width: 100%;
    display: block;
    color: #a8a8a8;
    padding: 4px 0;
}

.vote-product__item-price {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 0;
    padding: 6px 0;
    color: red;
    font-weight: bold;
    font-size: 2rem;
}

.order-detail__item-price {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 0;
    padding: 4px 0;
    color: var(--button-color);
    font-weight: bold;
    font-size: 1.8rem;
}

.vote-product__title {
    display: block;
    width: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--button-color);
    text-align: center;
    padding: 10px;
    margin: 30px 0 10px;
}

.vote-product__describe {
    display: block;
    font-size: 1.6rem;
    color: #6a6a6a;
    text-align: center;
    margin: 10px 0 20px;
}

.vote-product__start-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 10px auto;
    padding: 0;
    width: 50%;
    direction: rtl;
}


.vote-product__start-group-item {
    position: relative;
    line-height: 4rem;
    display: inline-block;
    transition: color 0.2s ease;
    color: #ebebeb;
}

.vote-product__start-group-item:before {
    content: '\2605';
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
}

.vote-product__start-group-item:hover,
.vote-product__start-group-item.vote-product__start-group-item--selected,
.vote-product__start-group-item:hover~.vote-product__start-group-item,
.vote-product__start-group-item.vote-product__start-group-item--selected~.vote-product__start-group-item {
    transition: color 0.8s ease;
    color: var(--primary-color);
}

.vote-product__textbox {
    display: block;
    margin: 20px auto 30px;
    border-radius: 5px;
    padding: 10px 30px 10px 20px;
    background: #fff;
    border: 1px solid #a6a6a6;
    width: 92%;
    font-size: 1.6rem;
    text-indent: 6px;
    outline: none;
    color: #333;
}

.vote-product__footer {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0, 0.06);
    margin-top: 20px;
    padding: 20px 60px 20px 20px;
    width: 100%;
}

.vote-product__btn {
    background-color: var(--button-color);
    padding: 10px 20px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin: 0 10px;
    z-index: 10;
}

.vote-product__btn:hover {
    opacity: 0.8;
}

.vote-product__btn-confirm {
    background-color: var(--button-color);
    padding: 10px 20px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin: 0 10px;
}

.vote-product__btn-icon {
    margin-left: 4px;
}

.vote-product__btn-confirm:hover {
    opacity: 0.9
}


.vote-product__btn-close {
    background-color: rgb(249, 79, 79);
    padding: 10px 20px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

.vote-product__btn-close:hover {
    opacity: 0.8;
}