.order-lookup__box {
    display: flex;
    max-width: 600px;
    min-width: 600px;
    background-color: #fff;
    margin: 160px auto;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 20px;
}

.order-lookup__box-header {
    display: block;
    margin: 10px 0 0;
    padding: 20px;
    width: 100%;
    font-size: 2.8rem;
    line-height: 3.2rem;
    text-align: center;
    font-weight: bold;
    color: var(--button-color)
}

.order-lookup__box-label {
    display: block;
    margin: 20px 32px 10px;
    font-size: 2rem;
    font-weight: bold;
}

.order-lookup__box-input {
    display: block;
    width: 100%;
    margin: 0 30px 20px;
    padding: 14px 20px;
    font-size: 1.8rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.order-lookup__box-btn {
    display: block;
    margin: 10px auto 20px;
    padding: 12px 16px;
    border: none;
    font-size: 1.8rem;
    color: #fff;
    background-color: var(--button-color);
    font-weight: bold;
    border-radius: 10px
}