/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {}

    .hide-on-mobile-tablet {
        display: none;
    }

    .header--logo {
        margin-left: 8px;
    }

    .header-search__input {
        margin-left: 12px;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }






}

/* Mobile */
@media screen and (max-width: 739px) {
    :root {}

    .hide-on-mobile {
        display: none;
    }

    .header--logo {
        width: 120px;
        height: 56px;
        margin-left: 10px;
        margin-right: 20px;
    }


    .header-btn__cart {
        justify-content: center;
        min-width: 42px;
        max-width: 46px;
        height: 42px;
    }

    .header-search__input {
        width: 260px;
        margin-left: 40px;
        height: 42px;
    }

    .header-search__button {
        height: 42px;
        width: 42px;
    }

    .hot-promote__container {
        display: none !important
    }

    .home__container {
        margin-top: 80px !important;
    }

    #home-promote {
        flex-wrap: nowrap;
        width: 100%;
        overflow: hidden;
    }

    .home-promote__item {
        width: 100%;
    }

    .home__list-product {
        flex-direction: column;
        width: 100%;
    }

    .home__list-product-item {
        margin: 10px;
        flex: 1;
    }

    .home__list-product-img-1,
    .home__list-product-img-2,
    .home__list-product-img-3,
    .home__list-product-img-4 {
       
    }

    .footer-bar {
        flex-wrap: wrap;
    }

    .footer__col {
        width: 44%;
        margin: 10px;
    }

    .app-copyright {
        zoom: 0.5
    }
}