* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

.main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.form .heading {
    font-size: 2rem;
}

.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 8px;
    flex-direction: column;
    width: 100%;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.8rem;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    border-radius: 12px;
    outline: none;
    border: 2px solid #ccc;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
    font-size: 1.6rem;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.form-group-2-col {
    width: 50%;
    display: inline-block;
}