.event {
    margin-bottom: 100px;
    position: relative;
    display: block;
  }
  .event-image {
    margin-left: 15%;
    margin-right: auto;
    padding-top: 100px;
    width: 70%;
    
  }
.event-imagegif{
    margin-left: 25%;
    margin-right: auto;
    width: 1000px;
    padding: 10px;
}
.ladi-image {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  .ladi-image-background {
    -webkit-text-size-adjust: none;
    direction: ltr;
    color: inherit;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    position: fixed;
    margin: auto;
    pointer-events: none;
    display: flex;
    top: 250px;
    left: 59px;
    width: 170px;
    height: 513.68px;
    background-image: url("https://w.ladicdn.com/s500x850/5bf3dc7edc60303c34e4991f/banner_side-web-20230315064013-xgxik.png");
  }
  .ladi2-image-background {
    -webkit-text-size-adjust: none;
    direction: ltr;
    color: inherit;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    background-position: left top;
    display: flex;
    background-size: cover;
    /* background-attachment: scroll; */
    background-origin: content-box;
    position: fixed;
    margin: 0 auto;
    pointer-events: none;
    top: 250px;
    right: 59px;
    width: 170px;
    height: 513.68px;
    background-image: url("https://w.ladicdn.com/s500x850/5bf3dc7edc60303c34e4991f/thang-3-deal-tha-ga-20230306042957-ev9xk.png");
    /* background-image: url("https://w.ladicdn.com/s500x900/5bf3dc7edc60303c34e4991f/side-web-20230213133317-_tcfj.png"); */
    
  }