.container{
    width: 100%;
    height: 100%;
}
.tablet__event {
    display: block;
    width: 100%;
    position: relative;
}

.tablet__event-image {
    margin-bottom: 20px;
}

.tablet__event-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.tablet__event-item {
    margin: 10px;
    width: 50%;
}

.tablet__event-image-gif {
    margin: 10px auto;
    display: block;
    width: 1000px;
    padding: 10px;
}
.tablet__title-brand{
    box-sizing: border-box;
    padding: 0;
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
    display: flex;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    padding-top: 20px;
}
.tablet__home-sort-list-brand{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #b90d0d; */
  
}
.tablet__home-sort-brand{
    width: 100%;
    border-radius: 10px;
   
    /* background-color: #1e6ce1; */
    

}
.tablet__home-sort-brand-item{
    
    background-color:white;
    display: flex;
    align-items: center;
    border: 1px solid #928f88;
    border-radius: 10px;
    
    height: 30px;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 8px 10px;
    float: left;
}
.tablet__home-sort-brand-item img{
    width: 100%;
    height: 20px;
    text-align: center;
    position: static;
}
.tablet__home-sort-brand-item:hover{
   transform: scale(1.1);
}
.tablet__grid-img {
    display: block;
    width: 100%;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0.tablet__1fr));
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;

}
.tablet__ladi-image{
    position: relative;
    width: 80%;
    height: 100%;
}
.tablet__ladi2-image{
    position: relative;
    width: 100%;
    height: 100%;
}

.tablet__ladi-image-background img{
    position: fixed;
    width: 200px;
    left: 79px;

}
.tablet__ladi2-image-background img {
    position: fixed;
    width: 200px;
    right: 79px;

}
.tablet__container-productbox {
    box-sizing: border-box;
    border: 100px, solid, #d91919;
    margin-left: 160px;
    margin-right: 0px;
    display: flex;
    overflow: hidden;
    width: 80%;
}

.tablet__product-container{
    background-color: white;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0.tablet__1fr));
}
.tablet__list-product .tablet__price-old {
    color: #666;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
}

* {
    margin: 0;
    padding: 0;
}

.tablet__list-product {
    list-style: none;
    /* border: 1px solid #fcd8aa; */


}

.tablet__product {
    border-right: 10px solid rgb(216,191,245);
    
}


.tablet__item-label {
    list-style: none;
    color: #288ad6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 60px;
    position: absolute;
}

.tablet__tablet-item {
    position: relative;
    border-radius: 30px;
    /* list-style: none;
    color: #288ad6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 225px;
    line-height: 225px;
    position: relative;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    margin-top: 10px; */
}

.temBH {
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    position: absolute;

}


.thumb {
    list-style: none;
    color: #288ad6;
    line-height: 225px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 8px;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
}

.hotIcon {
    width: 80px;
    height: 80px;
    bottom: 180px;
    left: 150px;
    box-sizing: border-box;
    position: absolute;
}


.tablet__listproduct .tablet__item-compare {
    font-size: 0;
    margin-bottom: 5px;
}

.tablet__listproduct .item-compare.gray-bg span {
    border: 1px solid #eaeaea;
    background: #eaeaea;
}

.tablet__listproduct .tablet__item-compare span {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
    padding: 4px 5px;
    white-space: nowrap;
}

.tablet__prods-group {
    list-style: none;
    color: #288ad6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tablet__merge-item {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 8px ;
    border: 1px solid #e0e0e0 ;
    border-radius: 2px;
    display: inline-flex ;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-right: 4px;
    overflow: hidden;
    background: #fff;
    border-color: #7d8691 ;
    color: #585a5d ;
}

.tablet__merge-item:hover {
    border: 1px solid #1d1de1 ;
    color: #133bda ;
    transform: scale(1.1);
}

.tablet__merge-item-selected {

    padding: 5px 8px ;
    border: 1px solid #e0e0e0 ;
    border-radius: 2px;
    display: inline-flex ;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-right: 4px;
    overflow: hidden;
    border-color: #a8acb1 ;
    align-self: hover;
}



.tablet__box-p {
    font: 14px/18px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    list-style: none;
    color: #288ad6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.tablet__price-old .tablet__black {

    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-rendering: geometricPrecision;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: #b90d0d;
}

.tablet__percent {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
}

.tablet__price {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f20505;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
}

.tablet__item-rating {

    
    display: flex;
    align-items: flex-end;
}

.tablet__-item-star-icon {
    display: inline-block;
    color: orange;
    font-size: 1.8rem;
    font-weight: 400;
}


.tablet__item-rating-total {
    text-rendering: geometricPrecision;
    color: #0f2ced;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
}