#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

#toast-with-navbar {
    position: fixed;
    top: calc(32px + 80px);
    right: 32px;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    padding: 20px 0;
    min-width: 450px;
    max-width: 500px;
    animation: slideInLeft 0.5s ease, fadeOut 1s 3s forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast+.toast {
    margin-top: 16px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 1.6rem;
    color: #333;
    margin-top: 4px;
}

.toast__msg {
    font-size: 1.4rem;
    font-weight: 500;
    color: #888;
    line-height: 1.4;
    margin-top: 6px;
}

.toast__close {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-weight: 500;
    margin: 0 12px;
}

.toast__close:hover {
    color: rgba(0, 0, 0, 0.15);
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}