.side-banner {
    display: block;
}


.side-banner__left {
    display: block;
    position: fixed;
    left: calc(((100vw - 1200px)/2) - 140px);
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    z-index: 999;
}


.side-banner__right {
    display: block;
    position: fixed;
    right: calc(((100vw - 1200px)/2) - 140px);
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    z-index: 999;
}