@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./font/fontawesome-free-6.3.0-web/css/all.css');
@import url('./font/themify-icons/themify-icons.css');
@import url('./css/grid-system.css');
@import url('./css/toast-message.css');
@import url('./css/loading-modal.css');
@import url('./css/style-validator.css');

@import url('./css/nav.css');
@import url('./css/breadcrumbs.css');
@import url('./css/footer.css');

@import url('./css/account-client.css');

@import url('./css/info-product-client.css');
@import url('./css/smartphone-client.css');
@import url('./css/laptop-client.css');
@import url('./css/tablet-client.css');
@import url('./css/accessories-client.css');

@import url('./css/cart-payment.css');

@import url('./css/contact.css');

@import url('./css/order-lookup.css');

@import url(./css/search-style.css);
@import url('./css/reponsive.css');

/* --------Stylesheet for the common component ------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #eb984c;
    --button-color: #df8129;
    --background-color: #f3f3f3;
    --text-color: #222222;
    --background-login-color: #ffd3aa;
}


html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: transparent;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

.container {
    width: 100%;
    margin-top: 115px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes topToDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes downToTop {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes modalFadein {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(100%);
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 0.125rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #b3b3b3;
}



.btn {
    background-color: var(--primary-color);
    width: 60px;
    padding: 12px;
    margin-top: 20px;
    font-size: 2.4rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    z-index: 1;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.edit-icon {
    color: green;
    height: 20px;
    width: 20px;
    cursor: pointer;
    zoom: 1.2;
    outline: none;
    border: none;
}

.edit-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}


/* ----------- Stylesheet for Admin --------------- */
/* --------Stylesheet for the Login component ------*/

.login__logo {
    background-image: url(./img/admin/logo-img.png);
    width: 100%;
    height: 160px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    margin: 10px 0 30px 0;
}

.login__box {
    width: 40%;
    height: 480px;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.login__label-login {
    display: block;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 10px 0 20px 0;
    color: var(--button-color);
    height: 60px;
}

.login__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
}


.login__label {
    display: block;
    font-size: 2rem;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.login__input {
    width: 100%;
    padding: 16px 20px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #ba6347;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}

.login__btn {
    padding: 16px 20px;
    background-color: var(--button-color);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
}

.login__btn:hover {
    opacity: 0.9;
    transform: scale(105%);
}

/* --------Stylesheet for the Dashboard component ------*/
.admin__container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

}

#sidebar {
    position: fixed;
    width: 260px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.08);
    padding-bottom: 30px;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar__logo {
    height: 100px;
    width: 100%;
    padding: 20px;
    background-image: url(./img/admin/logo-img.png);
    background-repeat: no-repeat;
    background-size: 70%;
    margin-bottom: 40px;
    background-position: center;
}

.sidebar__logo:hover {
    cursor: pointer;
}

.sidebar__component {}

.sidebar__component-label {
    display: block;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 40px 0 20px 0;
    padding: 0 0 0 20px;
}

.sidebar__component-item {
    height: 60px;
    margin: 10px 0 10px -30px;
    padding-left: 40px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    background: linear-gradient(to right, #8971ea, #7f72ea, #7574ea, #6a75e9, #5f76e8);
    border-radius: 30px;
    display: flex;
    align-items: center;
    user-select: none;

}

.sidebar__component-item-icon {
    font-size: 2.4rem;
    margin: 0 10px;
}

.sidebar__component-item--disable {
    color: rgb(0, 0, 0, 0.4);
    background: #fff;
}

.sidebar__component-item--disable:hover {
    color: rgb(0, 0, 0, 0.8);
    cursor: pointer;
}

#admin-box {
    display: block;
    position: fixed;
    left: 260px;
    top: 0;
    width: calc(100% - 260px);
}

.admin__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.admin__header-title {
    padding-left: 40px;
    font-size: 3.4rem;
    font-weight: 500;
    color: var(--button-color);
    user-select: none;
}

.admin__header-admin {
    font-size: 1.8rem;
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.admin__header-info {
    display: inline-block;
    margin-right: 4px;
}

.admin__header-avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: auto 0 auto 4px;
    object-fit: cover;
    border-radius: 50%;
}


.admin__header-name:hover {
    cursor: pointer;
}

.admin__header-name {
    color: var(--primary-color);
    padding: 0 4px;
    font-size: 2.2rem;
    font-weight: 600;
    position: relative;
    line-height: 2rem;
    user-select: none;

}

.admin__header-admin:hover .admin__header-option {
    display: block;
}

.admin__header-option {
    position: absolute;
    width: 160px;
    top: 9vh;
    right: 40px;
    background-color: #fff;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 10px;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    font-size: 1.6rem;
}

.admin__header-option::before {
    position: absolute;
    top: -10px;
    content: "";
    right: 2px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #fff;
    z-index: -1;
}

.admin__header-option::after {
    position: absolute;
    display: block;
    content: "";
    background-color: transparent;
    width: 160px;
    height: 30px;
    top: -13px;
    left: 0;

}


.admin__header-option-item {
    padding: 16px 20px;
    /* border-bottom: 1px solid #ccc; */
    z-index: 2;
}

.admin__header-option-item:hover {
    background-color: #eee;
    cursor: pointer;
}

.admin__title {
    padding: 30px 40px 0;
}

.admin__tilte-label {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    padding-bottom: 4px;
    cursor: text;
}

.admin__tilte-describe {
    font-size: 1.8rem;
    display: block;
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
    cursor: text;
    margin: 10px 0 10px 0;
}

.dash__counting {
    margin: 30px 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.dash__counting-item {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 33%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-right: 1px solid #ccc;
}

.dash__counting-item--none-border {
    border: none;
}

.dash__counting-content {}

.dash__counting-number {
    height: 50%;
    font-size: 3.2rem;
    font-weight: bold;
    padding: 6px 0;
}

.dash__counting-describe {
    margin: 6px 0;
    height: 50%;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
}

.dash__counting-icon {
    height: 100%;
    width: 60px;
    line-height: 60px;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.4);
}

.admin__group {
    margin: 30px 40px 10px 40px;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    min-height: 510px;
    max-height: 510px;
    border-radius: 20px;
    overflow: hidden;
}

.dash__group-title {
    display: block;
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
}

.table {
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 29%) 0px 5px 12px -12px;
    width: 100%;
    margin-bottom: 1rem;
    color: #000;
    border-collapse: none;
    text-indent: initial;
    border-spacing: 2px;
    text-align: center;
}

.table .table__thead-primary {
    background: rgb(153, 177, 156);
    color: #fff;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table .table__thead-primary td {
    border: none;
    padding: 20px;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    text-align: center;
}

.table .table__tbody-primary {
    background: #fff;
    color: #000;
}

.table__tbody-primary {
    overflow-y: scroll;
}

tbody {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table tbody td {
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    padding: 20px;
    font-size: 1.7rem;
    background: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(248, 249, 253);
    vertical-align: middle;
    text-align: center;
}

.table__edit-btn {
    user-select: none;
}

.table-td-element {
    display: flex;
    align-items: center;
}

.table-td__img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    object-fit: contain;
}

.table-td__label {
    display: block;
    max-width: 120px;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 10px;
}

.admin__list {
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 510px;
    justify-content: flex-start;
}

.admin__item {
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.06);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 10px 12px 40px;
    padding-bottom: 30px;
    position: relative;
    width: 240px;
}

.admin__item:hover {
    transform: translateY(-3px);
}

.admin__item-id {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--primary-color);
}

.admin__item-avatar {
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.admin__item-img {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.admin__item-admin-name {
    display: block;
    padding: 10px 20px;
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.admin__item-info {
    padding: 0 20px 10px 20px;
    display: flex;
    flex-wrap: nowrap;
}

.admin__item-info-label {
    font-size: 1.6rem;
    margin: 0 6px 4px 0;
    text-align: left;
    font-weight: 500;
}

.admin__item-info-content {
    font-size: 1.6rem;
}

.admin__item-info--last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 20px 10px 20px;
}

.admin__item-info-price {}



/* --------Stylesheet for the Customer component ------*/
.customer__container {
    width: 100%;
    height: 100%;
    display: flex;
}

.customer__group {
    margin: 30px 40px;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    min-height: 650px;
    max-height: 650px;
    border-radius: 20px;
}

.customer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.customer__header-title {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 50px;
    margin: 0;
}

.customer__header-counting {
    font-size: 2rem;
}

.customer__header-counting-number {
    margin-left: 6px;
    font-size: 2.6rem;
    font-weight: bold;
    color: green;
}

.customer__table-cover {
    width: 100%;
    height: 530px;
    border: 1px solid #eee;
    overflow-y: scroll;
}

/* --------Stylesheet for the Product component ------*/
.product__container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.product__group {
    margin: 30px 40px;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    min-height: 660px;
    max-height: 660px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

}

.product__header-title {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 50px;
    margin: 0;
}

.product__item-avatar {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.product__item-img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.product__header-counting {
    font-size: 2rem;
}

.product__btn-container {
    display: flex;
    width: 100%;
    padding: 10px 40px;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid #eee;
}

.product__btn-add {
    padding: 16px 20px;
    color: #fff;
    background-color: var(--button-color);
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.product__btn-add:hover {
    opacity: 0.9;
}

/* --------Stylesheet for the Add Element component ------*/
.add__cover {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@keyframes addFadein {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(100%);
    }
}

.add {
    animation: addFadein ease-in 0.1s;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    width: 70%;
}

.add__promote-container {
    width: 60%;
}

.add__header {
    background-color: var(--primary-color);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
}

.add__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.add__col-left {
    width: 40%;
}

.add__col-right {
    flex: 1;
}

.add__avatar {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    flex-direction: column;
    align-items: center;
}

.add__avatar-img {
    width: 100px;
    height: 100px;
    background-image: url('https://webcolours.ca/wp-content/uploads/2020/10/webcolours-unknown.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 1px solid #ccc;

}

.add__avatar-img-promote {
    background-image: url('https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png');
    width: 80%;
    height: 140px;
    border-radius: 20px;
    background-size: contain;
    background-color: #eee;
}

.add__user-id {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.add__title {
    display: block;
    width: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--button-color);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.add__label {
    display: block;
    margin: 6px auto 4px auto;
    width: 86%;
    font-size: 1.6rem;
}

.add__option {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 1.8rem;
    padding: 10px 0;
    width: 86%;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    align-items: center;
}

.add__option-item {
    display: inline-block;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-right: 10px;
    background-color: #eee;
}

.add__option-item-input {
    width: 100%;
    margin: 2px auto 4px auto;
    font-size: 1.6rem;
    padding: 8px;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}

.add__option-item--done {
    display: inline-block;
    margin: 6px auto 0;
    padding: 4px 6px;
    color: #fff;
    background-color: green;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    margin-left: 20px;
}

.add__option-item--remove {
    display: inline-block;
    margin: 6px auto 0;
    padding: 4px 6px;
    color: #fff;
    background-color: red;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.add__option-item--confirm {
    padding: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    margin-bottom: 10px;
}

.add__option-item-label {
    display: block;
    padding: 4px 6px 4px 0;
}

.add__option-btn {
    width: 50px;
    height: 50px;
    margin: auto 0 auto 10px;
    font-size: 3rem;
    color: #333;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.add__input {
    display: flex;
    margin: 0 auto;
    font-size: 1.8rem;
    padding: 8px 20px;
    width: 86%;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}

.add__input--readonly {
    background-color: rgb(0, 0, 0, 0.08);
}

.add__footer {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0, 0.06);
    margin-top: 20px;
    padding: 20px 60px 20px 20px;
    width: 100%;
}

.add__btn {
    background-color: var(--button-color);
    padding: 10px 20px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin: 0 10px;
    z-index: 10;
}

.add__btn:hover {
    opacity: 0.8;
}

.add__btn-confirm {
    background-color: var(--button-color);
    padding: 10px 20px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin: 0 10px;
}

.add__btn-icon {
    margin-left: 4px;
}

.add__btn-confirm:hover {
    opacity: 0.9
}


.add__btn-close {
    background-color: rgb(249, 79, 79);
    padding: 10px 20px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

.add__btn-close:hover {
    opacity: 0.8;
}

/* --------Stylesheet for the Info Page component ------*/
.info-page__group {
    margin: 40px 40px 20px 40px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    min-height: 650px;
    max-height: 650px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.info-page__header {
    background-color: var(--primary-color);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
}


.info-page__body {
    display: flex;
    margin-top: 20px;
}

.info-page__col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.info-page__avatar {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.info-page__avatar-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: contain;
}

.info-page__avatar-img--no-round {
    border-radius: 20px;
}

.info-page__user-id {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
}

.info-page__col-2 {
    width: 60%
}

.info-page__title {
    display: block;
    width: 100%;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--button-color);
    text-align: center;
    padding: 10px 0
}

.info-page__box-info {
    padding: 10px 10px 0;
    border-top: 2px solid #eee;
}

.info-page__box-c1 {
    width: 30%;
}

.info-page__box-c2 {
    width: 30%;
}

.info-page__label {
    display: inline-block;
    width: 100%;
    padding: 0 40px 4px;
    font-size: 2.4rem;
    margin-top: 6px;
}

.info-page__input {
    display: block;
    margin: 0 40px 10px 40px;
    font-size: 2rem;
    padding: 10px 20px;
    width: 84%;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}

.info-page__footer {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0, 0.06);
    margin-top: 20px;
    padding: 20px 50px 20px 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.info-page__btn {
    background-color: var(--button-color);
    padding: 10px 20px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin: 0 10px;
}

.info-page__input--readonly {
    background-color: rgb(0, 0, 0, 0.08);
}


.modal__btn {
    background-color: var(--button-color);
    padding: 10px 20px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin: 0 10px;
}

/* --------Stylesheet for the Promote component ------*/
.promote__container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.promote__group {
    margin: 30px 40px;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    min-height: 650px;
    max-height: 650px;
    overflow-y: scroll;
}

.promote__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promote__header-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.promote__header-counting {}

.promote__btn-container {
    display: flex;
    padding: 20px 40px;
}

.promote__btn-add {
    margin: auto;
    padding: 20px 30px;
    color: #fff;
    background-color: var(--button-color);
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid var(--primary-color)
}

.promote__btn-add:hover {
    opacity: 0.9;
}


.info-promote__header {
    background-color: var(--primary-color);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
}

.info-promote__body {
    display: block;
}

.info-promote__avatar {
    display: flex;
    justify-content: center;
    padding: 20px 30px 10px 30px;
}

.info-promote__avatar-img {
    width: 600px;
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
}

.info-promote__input-name {
    display: block;
    width: 70%;
    margin: 10px auto 20px;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
}

.info-promote__box-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-promote__col-1 {
    width: 50%;
    border-right: 1px solid var(--primary-color);
}

.info-promote__col-2 {

    width: 50%;
}

.info-promote__label {
    display: block;
    width: 84%;
    font-size: 2rem;
    margin: 4px 0;
    margin: 0 auto;
}

.info-promote__input {
    display: block;
    margin: 0 auto 10px;
    font-size: 2rem;
    padding: 10px 20px;
    width: 84%;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}


/* --------Stylesheet for the Footer component ------*/
.app-copyright {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 40px 10px 10px;
    background-color: var(--background-color);
}
















/* ---------------------------------------------------------- */
/* --------Stylesheet for the Client component ------*/
/* --------Stylesheet for the Hot Promote component ------*/
.hot-promote__container {
    display: flex;
    margin-top: 60px;
    width: 100%;
    background-color: transparent;
}

.hot-promote-img {
    width: 1930px;
    display: flex;
    height: 450px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url("./img/client/home-img/img-home-banner.png");
    transform-origin: center;
}

/* --------Stylesheet for the Home component ------*/
.home__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -90px;
}

#home-promote {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.home-promote__pre {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    width: 40px;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #9f9b9b;
}

.home-promote__pre:hover {
    cursor: pointer;
    opacity: 0.8;
    zoom: 1.2;
}

.home-promote__icon {
    font-size: 2.4rem;
    color: var(--button-color);
    font-weight: bold;
}

.home-promote__next {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    width: 40px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #9f9b9b;
}

.home-promote__next:hover {
    cursor: pointer;
    opacity: 0.8;
    zoom: 1.2;
}

.home-promote__item {
    display: block;
    width: 590px;
    height: 180px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

#home__banner {
    margin: 30px 0 20px 0;
}

.home__banner-image {
    height: 520px;
    width: 100%;
    background-image: url(./img/client/flash-sale-img/img-01.jpg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 12px;
}

#home__list {
    position: relative;
    padding-bottom: 30px;
    margin: 20px 0;
}

#home__list::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: #ccc;
    bottom: 0;
    left: 20%;
    right: 20%;
}

.home__list-label,
.home__flash-sale-label,
.home__featured-label {
    padding: 20px 0 40px 0;
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
}

.home__list-product {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.home__list-product-item {
    padding: 20px;
    display: flex;
    flex: 1;
    margin-right: 16px;
    list-style-type: none;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow:  1px 2px rgba(0,0,0,0.1); */
    box-shadow: 0 1px 1px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    background-color: #fff;
    user-select: none;

}

.home__list-product-item:last-child {
    margin-right: 0;
}

.home__list-product-item:hover {
    transform: translateY(-3px);
    opacity: 0.9;
    cursor: pointer;
}

.home__list-product-name {
    font-size: 2.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 2.4rem;
    margin-left: 6px;
}

.home__list-product-img-1 {
    background-image: url(./img/client/list-img/smartphone-img.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.home__list-product-img-2 {
    background-image: url(./img/client/list-img/laptop-img.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.home__list-product-img-3 {
    background-image: url(./img/client/list-img/tablet-img.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.home__list-product-img-4 {
    background-image: url(./img/client/list-img/accessories-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    width: 100px;
    height: 100px;
}

#home__flash-sale {}

.home__flash-sale-banner {
    width: 100%;
    height: 100px;
    background-image: url('./img/client/home-img/img-home-promote.png');

}

.home__flash-sale-label {
    margin-top: 30px;

}


.home__flash-sale-container {
    margin-top: 20px;
    background-image: linear-gradient(to right, #ffead0, #fcb69f);
    width: 100%;
    max-height: 900px;
    border-radius: 20px;
    box-shadow: 1px 2px #fcb69f;
    padding: 20px 20px 40px 20px;
    display: block;
    overflow: hidden;
    position: relative;
}

.home__flash-sale-background {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url('./img/client/home-img/img-home-flash-sale-background.png');
    top: -40px;
    right: 0;
    transform: rotate(-20deg);
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 95%;
}

.home__flash-sale-header {
    width: 100%;
    height: 80px;
    display: flex;
}

.home__flash-sale-header-col {
    width: 50%;
    border-right: 1px solid var(--button-color);
}

.home__flash-sale-header-col:last-child {
    border: none;
}

.home__flash-sale-title {
    display: block;
    font-size: 4rem;
    font-weight: bold;
    width: 100%;
    color: #e63232;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.home__flash-sale-time {
    display: block;
    font-size: 2.4rem;
    font-weight: 400;
    width: 100%;
    color: #6110ed;
    padding: 0 20px;
}

.home__flash-sale-time-valid {
    display: block;
    margin: 20px 30px;
    font-size: 3.2rem;
    text-decoration: underline;
    font-style: italic;
    font-weight: 600;
    color: #52bd00;
}

.home__flash-sale-countdown {
    display: inline-block;
    font-weight: 400;
    font-size: 2.4rem;
    margin: 10px 10px 10px 10px;
}

.home__flash-sale-countdown-day,
.home__flash-sale-countdown-hour,
.home__flash-sale-countdown-minute,
.home__flash-sale-countdown-second {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    background-color: #000;
    font-size: 2rem;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin: 0 6px;
    font-weight: 500;
    border-radius: 6px;
    padding: 0px 6px;
}

.home__flash-sale-countdown-sepetate {
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}

.home__flash-sale-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    max-height: 744px;
    min-height: 744px;
    margin: 0 -6px;
    padding-top: 30px;
    width: 100%;
}

.home__flash-sale-item {
    border-radius: 20px;
    background-color: #fff;
    list-style: none;
    height: 360px;
    margin: 0 6px 12px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    display: none;
    width: 18.8%;
    position: relative;
}

.home__flash-sale-item:hover {
    opacity: 0.9;
    cursor: pointer;
}

.home__flash-sale-item-img {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 0 auto 20px;
    object-fit: contain;
}

@keyframes popUp {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(-10px)
    }
}

.home__flash-sale-item-img:hover {
    animation: popUp .5s ease;
    transform: translateY(-10px);
}

.home__flash-sale-item-label {
    display: block;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--button-color);
    width: 100%;
    margin: 0 0 12px;
}

.home__flash-sale-item-price {
    font-size: 2rem;
    font-weight: 600;
    color: red;
    display: block;
    margin-bottom: 2px;
}

.home__flash-sale-item-percent {
    display: block;
    width: 40px;
    height: 20px;
    font-size: 1.6rem;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
    border-radius: 4px;
    text-decoration: line-through;
    padding: 4px 10px;
}

.home__flash-sale-item-sold {
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 50%;
    transform: translateX(50%);
}

.home__flash-sale-item-number {
    margin-left: 4px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.home__flash-sale-item-tag {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 6px 12px;
    background-color: #e01020;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: -4px;
}

.home__flash-sale-item-tag::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    bottom: -6px;
    left: 0;
    border-top: 6px solid #e01020;
    border-bottom: 6px solid transparent;
    border-right: 4px solid #b00917;
    z-index: -10;
}



#home__featured {
    display: block;
    margin-top: 40px;
    width: 100%;
}

.home__featured-banner-phone {
    display: block;
    width: 100%;
    height: 100px;
    background-image: url('./img/client/home-img/img-home-smartphone.png');
    margin: 10px 0;
}

.home__featured-banner-laptop {
    display: block;
    width: 100%;
    height: 100px;
    background-image: url('./img/client/home-img/img-home-laptop.png');
    margin: 30px 0 10px;
}

.home__featured-banner-tablet {
    display: block;
    width: 100%;
    height: 100px;
    background-image: url('./img/client/home-img/img-home-tablet.png');
    margin: 30px 0 10px;
}

.home__featured-banner-acc {
    display: block;
    width: 100%;
    height: 100px;
    background-image: url('./img/client/home-img/img-home-acc.png');
    margin: 30px 0 10px;
}

.home__featured-label {}

.home__featured-type {
    display: inline-block;
    height: 60px;
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 8px;
}

.home__featured-type:hover {
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
    color: var(--primary-color);
}

.home__featured-brand-list {
    display: inline-block;
    float: right;
}

.home__product-brand-item {
    font-weight: 400;
    list-style: none;
    font-size: 1.4rem;
    min-width: 60px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #fff;
    line-height: 50%;
    padding: 4px 8px;
    margin-left: 6px;
}

.home__product-brand-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.home__featured-list {
    display: flex;
    margin: 0 0 50px 0;
    max-height: 764px;
    min-height: 382px;
    overflow: hidden;
    margin: 0 -10px;
    flex-wrap: wrap;
    padding-top: 4px;
}

.product__sell-item {
    border-radius: 20px;
    background-color: #fff;
    list-style: none;
    height: 370px;
    width: 19%;
    margin: 0 6px 12px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    display: none;
    overflow: hidden;
}

.product__sell-item:hover {
    transform: translateY(-3px);
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.product__sell-item-img {
    display: block;
    width: 210px;
    height: 230px;
    overflow: hidden;
    margin: 0 auto 10px;
}

.product__sell-item-label {
    display: block;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--button-color);
    width: 100%;
    margin: 0 0 12px;
}

.product__sell-item-price {
    font-size: 2rem;
    font-weight: 600;
    color: red;
    display: block;
    margin-bottom: 2px;
}

.product__sell-item-percent {
    display: block;
    width: 40px;
    height: 20px;
    font-size: 1.6rem;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
    border-radius: 4px;
    text-decoration: line-through;
    padding: 4px 10px;
    margin: 4px 0;
    font-style: italic;
    color: #585858
}

.product__sell-item-sold {
    width: 70%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 50%;
    transform: translateX(50%);
    font-weight: 600;
}

.product__sell-item-star {
    font-size: 1.8rem;
    margin-left: 6px;
    font-weight: 500;
    color: var(--button-color);
}

.product__sell-item-star-icon {
    display: inline-block;
    margin-left: 4px;
    color: rgb(215, 136, 9);
    font-size: 1.8rem;
    font-weight: 400;
}

.product__sell-item--smartphone,
.product__sell-item--laptop,
.product__sell-item--tablet,
.product__sell-item--accessories {
    border-radius: 20px;
    background-color: #fff;
    list-style: none;
    height: 370px;
    margin: 0 6px 12px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    display: none;
    width: 18%;
}

.product__sell-item--smartphone:hover,
.product__sell-item--laptop:hover,
.product__sell-item--tablet:hover,
.product__sell-item--accessories:hover {
    cursor: pointer;
    transform: translateY(-3px);
}